body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Tahoma, sans-serif;
    background-color: #121212;
    color: white;
}

.title {
    font-size: 2.5em;
    margin-bottom: 10px; /* Mengurangi margin bawah untuk lebih dekat dengan kolom */
    margin-top: 20px; /* Menambahkan margin atas agar judul lebih turun */
}

.columns {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 30px 30px 30px; /* Menyesuaikan margin untuk menyelaraskan posisi tombol */
    max-width: 300px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
}

.blue {
    background-color: #007BFF;
}

.blue:hover {
    background-color: #0056b3;
}

.orange {
    background-color: #FFA500;
}

.orange:hover {
    background-color: #cc8400;
}

.green {
    background-color: #28a745;
}

.green:hover {
    background-color: #1e7e34;
}

.gray {
    background-color: #6c757d;
}

.gray:hover {
    background-color: #5a6268;
}

.red {
    background-color: #dc3545;
}

.red:hover {
    background-color: #c82333;
}

.additional-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 600px) {
    .columns {
        flex-direction: column;
        align-items: center;
    }
    
    .column {
        width: 100%; /* Full width for smaller screens */
        max-width: none; /* No max-width for smaller screens */
    }
}
